@model HeritageProjectGrp6.Models.BIENS

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>BIENS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPTION)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DESCRIPTION)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EVALUATEUR)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EVALUATEUR)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AFFECTATION)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AFFECTATION)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HERITAGE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HERITAGE.HERITAGEID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BIENID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
