@model IEnumerable<HeritageProjectGrp6.Models.BIENS>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DESCRIPTION)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EVALUATEUR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AFFECTATION)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HERITAGE)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DESCRIPTION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EVALUATEUR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AFFECTATION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HERITAGE.HERITAGEID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BIENID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BIENID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BIENID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
