@model IEnumerable<HeritageProjectGrp6.Models.UTILISATEUR>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UTI_UTILISATEURID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DESIGNATION)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EMAIL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TYPEUTILISATEUR)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UTI_UTILISATEURID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DESIGNATION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMAIL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TYPEUTILISATEUR)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UTILISATEURID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UTILISATEURID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UTILISATEURID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
