@model IEnumerable<HeritageProjectGrp6.Models.HERITAGE>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DESCRIPTION)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DATE_DECES)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DATE_HERITAGE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ECOLEID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MONTANT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HERITIER)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DESCRIPTION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DATE_DECES)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DATE_HERITAGE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ECOLEID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MONTANT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HERITIER.NOMENCLATUREID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HERITAGEID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.HERITAGEID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.HERITAGEID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
