@model HeritageProjectGrp6.Models.ECOLE

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ECOLE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOM)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NOM)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPTION)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DESCRIPTION)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.REGLE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.REGLE.REGLEID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HERITAGE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HERITAGE.HERITAGEID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ECOLEID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
