@model IEnumerable<HeritageProjectGrp6.Models.HERITIER>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DESCRIPTION)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CODE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ILLLUSTRATION)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DESCRIPTION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CODE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ILLLUSTRATION)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NOMENCLATUREID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NOMENCLATUREID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NOMENCLATUREID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
