@model HeritageProjectGrp6.Models.AYANTDROIT

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AYANTDROIT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DESIGNATION)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DESIGNATION)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IMAGEADR)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IMAGEADR)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPTION)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DESCRIPTION)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DATECREATION)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DATECREATION)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TYPEHERITIER)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TYPEHERITIER)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NOM)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NOM)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PRENOM)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PRENOM)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DATENAISSANCE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DATENAISSANCE)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SEXE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SEXE)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UTILISATEUR)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UTILISATEUR.UTILISATEURID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HERITIER)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HERITIER.NOMENCLATUREID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ADRID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
