@model HeritagesProjectG6.Models.AYANTDROIT

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AYANTDROIT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DESIGNATION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESIGNATION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IMAGEADR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IMAGEADR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPTION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPTION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATECREATION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATECREATION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TYPEHERITIER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TYPEHERITIER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRENOM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRENOM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATENAISSANCE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATENAISSANCE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEXE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEXE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UTILISATEUR.DESIGNATION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UTILISATEUR.DESIGNATION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HERITIER.DESCRIPTION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HERITIER.DESCRIPTION)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ADRID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
